#anchorage-toggle {
  background-color: #ff4800;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  width: 80px;
  z-index: 100001;
}
#anchorage-toggle.right {
  background-image: url('http://localhost:9000/arrow-right.png');
}
#anchorage-toggle.left {
  background-image: url('http://localhost:9000/dclogo.png');
}
#anchorage-main {
  background: #F8F8F8;
  box-shadow: -12px 0 12px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -420px;
  transition-property: all;
  transition-duration: 0.3s;
  width: 400px;
  z-index: 100000;
}
#anchorage-main * {
  list-style: none;
  margin: 0;
  padding: 0;
}
#anchorage-main.show {
  right: 0;
}
#anchorage-main a {
  color: #ff4800;
  font-weight: bold;
}
#anchorage-main header {
  background: #ff4800;
  background-image: url('http://localhost:9000/dencity.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
}
#anchorage-main #mapbox-map {
  border: 1px solid #EEE;
  display: none;
  height: 0;
  overflow: hidden;
}
#anchorage-main #mapbox-map.show {
  display: block;
  height: 360px;
}
#anchorage-main #mapbox-map .leaflet-control-zoom {
  margin: 10px;
}
#anchorage-main .tabs .tab {
  display: inline-block;
  color: #AAA;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}
#anchorage-main .tabs .tab.selected {
  color: #ff4800;
}
#anchorage-main .ratings {
  padding: 10px;
}
#anchorage-main .ratings .rating {
  float: left;
  margin: 10px 25px 10px 0;
  width: 160px;
}
#anchorage-main .ratings .rating .title {
  color: #888;
  font-size: 12px;
  text-align: left;
}
#anchorage-main .ratings .rating .track {
  background: white;
  border: 1px solid #E1E1E1;
  border-radius: 8px;
}
#anchorage-main .ratings .rating .track .bar {
  background: #3300AA;
  border-radius: 8px;
  height: 24px;
  transition-duration: 0.5s;
  transition-property: all;
}
#anchorage-main .ratings .rating .track .bar.vgood {
  background: #82ff60;
}
#anchorage-main .ratings .rating .track .bar.good {
  background: #62b0ff;
}
#anchorage-main .ratings .rating .track .bar.moderate {
  background: #ffbb45;
}
#anchorage-main .ratings .rating .track .bar.poor {
  background: #ff3c3c;
}
#anchorage-main .photo-list {
  padding: 10px 0 0 10px;
  width: 100%;
}
#anchorage-main .photo-list .photo {
  float: left;
  height: 185px;
  margin: 0 10px 10px 0;
  overflow: hidden;
  position: relative;
  width: 185px;
}
#anchorage-main .photo-list .photo img {
  height: 100%;
  width: 100%;
}
#anchorage-main .venue-list .venue {
  margin: 10px 0;
  min-height: 100px;
  padding: 0 100px 0 10px;
  position: relative;
}
#anchorage-main .venue-list .venue img {
  border: 1px solid #DDD;
  height: 80px;
  position: absolute;
  top: 0;
  right: 10px;
  width: 80px;
}
