#anchorage-main {
    background: #2e85be;
    color: #FFF;
    overflow-y: scroll;
    position: fixed;
        top: 0;
        bottom: 0;
        right: -400px;
    transition-property: all;
    transition-duration: 0.3s;
    width: 400px;
    z-index: 9999999;
}
#anchorage-main.show {
    right: 0;
}

#anchorage-main .photo-list .photo {
    height: 200px;
    overflow: hidden;
    width: 200px;
}
#anchorage-main .photo-list .photo img {
    width: 100%;
}
#anchorage-main .venue-list .venue {

}
