@assets_path: 'http://localhost:9000';
@link_color: #ff4800;

#anchorage-toggle {
  background-color: @link_color;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  position: fixed;
    top: 0;
    right: 0;
  text-align: center;
  width: 80px;
  z-index: 100001;

  &.right { background-image: url('@{assets_path}/arrow-right.png'); }
  &.left  { background-image: url('@{assets_path}/dclogo.png'); }
}
#anchorage-main {
  background: #F8F8F8;
  box-shadow: -12px 0 12px rgba(0, 0, 0, 0.2);
  color: #333;
  font-family: 'Helvetica Neue','Helvetica',arial,sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  overflow-y: scroll;
  position: fixed;
    top: 0;
    bottom: 0;
    right: -420px;
  transition-property: all;
  transition-duration: 0.3s;
  width: 400px;
  z-index: 100000;

  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.show {
    right: 0;
  }

  a {
    color: @link_color;
    font-weight: bold;
  }
  header {
    background: @link_color;
    background-image: url('@{assets_path}/dencity.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
  }

  #mapbox-map {
    border: 1px solid #EEE;
    display: none;
    height: 0;
    overflow: hidden;

    &.show {
      display: block;
      height: 360px;
    }

    .leaflet-control-zoom {
      margin: 10px;
    }
  }

  .tabs {
    .tab {
      display: inline-block;
      color: #AAA;
      cursor: pointer;
      font-weight: bold;
      padding: 10px;

      &.selected {
        color: @link_color;
      }
    }
  }

  .ratings {
    padding: 10px;

    .rating {
      float: left;
      margin: 10px 25px 10px 0;
      width: 160px;

      .title {
        color: #888;
        font-size: 12px;
        text-align: left;
      }

      .track {
        background: white;
        border: 1px solid #E1E1E1;
        border-radius: 8px;

        .bar {
          background: #3300AA;
          border-radius: 8px;
          height: 24px;
          transition-duration: 0.5s;
          transition-property: all;

          &.vgood    { background: #82ff60; }
          &.good     { background: #62b0ff; }
          &.moderate { background: #ffbb45; }
          &.poor     { background: #ff3c3c; }
        }

      }
    }
  }

  .photo-list {
    padding: 10px 0 0 10px;

    .photo {
      float: left;
      height: 185px;
      margin: 0 10px 10px 0;
      overflow: hidden;
      position: relative;
      width: 185px;

      img {
        height: 100%;
        width: 100%;
      }
    }
    width: 100%;
  }
  .venue-list {
    .venue {
      margin: 10px 0;
      min-height: 100px;
      padding: 0 100px 0 10px;
      position: relative;

      img {
        border: 1px solid #DDD;
        height: 80px;
        position: absolute;
          top: 0;
          right: 10px;
        width: 80px;
      }
    }
  }
}
